
@model List<CENTROM.Models.Curso>

<div id="content" class="site-content courses-content">
    <div class="page-title parallax-window" data-parallax="scroll" data-image-src="~/images/placeholder/courses-title.jpg">
        <div class="container">
            <h1>Courses Grid</h1>
            <div class="breadcrumb">
                <ul>
                    
                    <li><span class="current">@ViewBag.palabra</span></li>
                </ul>
            </div><!-- .breadcrumb -->
        </div><!-- .container -->
    </div><!-- .page-title -->

    <div class="search-by-cat">
        <form action="@Url.Action("Cursos","Home")" method="get" />
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="selectbox">
                        <select>
                            <option />Select Course Categories
                            <option value="Business" />Business
                            <option value="Technology" />Technology
                            <option value="Medicine" />Medicine
                            <option value="Language" />Language
                            <option value="Biological" />Biological
                            <option value="Architecture" />Architecture
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <input type="text" name="id" placeholder="Ingrese Nombre del Curso" />
                </div>

                <div class="col-md-3">
                    <input type="submit" value="Find Course" class="button primary rounded large full" />
                </div>
            </div>
        </div><!-- .container -->
        </form>
    </div><!-- .search-by-cat -->

    <div class="container">
        <div class="row">
            <main id="main" class="site-main col-md-9">
                <div class="sort clearfix">
                    <form action="#" class="ordering pull-left" />
                    <div class="selectbox">
                        <select class="orderby" name="orderby">
                            <option value="menu_order" />Default sorting
                            <option value="popularity" />popularity
                            <option value="rating" />average rating
                            <option value="date" />newness
                            <option value="price" />price: low to high
                            <option value="price-desc" />price: high to low
                        </select>
                    </div>
                    </form>

                    <div class="style-switch pull-right clearfix">
                        <a class="active" href="#" data-view="grid"><i class="fa fa-th"></i></a>
                        <a href="#" data-view="list"><i class="fa fa-th-list"></i></a>
                    </div>
                </div><!-- .sort -->

                <div class="courses layout column-3">
                    
                    @foreach (var item in Model)
                    {
                        <div class="course">
                            <div class="course-inner shadow">
                                <div class="course-thumb">
                                    <a class="mini-zoom" href="single-course.html">
                                        <img src="~/images/placeholder/course1.jpg" alt="" />
                                        <img class="img-list" src="~/images/placeholder/course-list1.jpg" alt="" />
                                    </a>
                                </div><!-- .course-thumb -->

                                <div class="course-info">
                                    <span class="course-cat"><a href="#">@item.Denominacion</a></span>

                                    <h3 class="course-title"><a href="single-course.html">@item.Descripcion</a></h3>

                                    <div class="course-desc">
                                        <p>Duis gravida tempus imperdiet. Vivamus elit vel consequat elementum. Cras consequat lorem non orci sagittis, eget volutpat neque imperdiet. Nam auctor nisi vitae enim accumsan, ac dignissim tortor consequat.</p>
                                    </div><!-- .course-desc -->

                                    <div class="course-author">
                                        <a href="#"><img src="~/images/placeholder/user3.jpg" alt="" /></a>
                                        <span>by <a href="#">Diana Hill</a></span>
                                    </div><!-- .course-author -->

                                    <div class="course-meta">
                                        <ul>
                                            <li>
                                                <div class="star-rating">
                                                    <span style="width:80%"></span>
                                                </div>
                                            </li>
                                            
                                            <li><span >Precio: S/.</span> @item.Precio</li>
                                        </ul>
                                    </div><!-- .course-meta -->
                                </div><!-- .course-info -->
                            </div><!-- .course-inner -->
                        </div><!-- .course -->
                    }
                    

                    


                </div><!-- .courses -->

                <nav class="pagination">
                    <ul>
                        <li class="prev"><a href="#">Previous</a></li>
                        <li><span class="current">1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><span>...</span></li>
                        <li><a href="#">68</a></li>
                        <li class="next"><a href="#">Next</a></li>

                    </ul>

                </nav>
            </main><!-- .site-main -->

            <div id="sidebar" class="sidebar col-md-3">
                <aside class="widget">
                    <h3 class="widget-title">Book Categories</h3>
                    <ul>
                        <li><a href="#">Business Books</a></li>
                        <li><a href="#">Technology Books</a></li>
                        <li><a href="#">Medicine Books</a></li>
                        <li><a href="#">Language Books</a></li>
                        <li><a href="#">Biological Books</a></li>
                        <li><a href="#">Architecture Books</a></li>
                    </ul>
                </aside><!-- .widget -->

                <aside class="widget courses-widget">
                    <h3 class="widget-title">Popular courses</h3>
                    <div class="courses">
                        <ul>
                            <li>
                                <a class="thumb" href="#"><img src="~/images/placeholder/course-wd1.jpg" alt="" /></a>
                                <div class="info">
                                    <h4><a href="#">The Secret to Making Money by starting a small business.</a></h4>
                                    <span><i class="fa fa-users"></i> 2289</span>
                                </div>
                            </li>

                            <li>
                                <a class="thumb" href="#"><img src="~/images/placeholder/course-wd2.jpg" alt="" /></a>
                                <div class="info">
                                    <h4><a href="#">Landscape Architecture, and Urban Planning</a></h4>
                                    <span><i class="fa fa-users"></i> 1762</span>
                                </div>
                            </li>

                            <li>
                                <a class="thumb" href="#"><img src="~/images/placeholder/course-wd3.jpg" alt="" /></a>
                                <div class="info">
                                    <h4><a href="#">Lesson english how to write a paragraph (writing)</a></h4>
                                    <span><i class="fa fa-users"></i> 1226</span>
                                </div>
                            </li>
                        </ul>
                    </div><!-- .widget -->
                </aside><!-- .widget -->

                <aside class="widget blog-widget">
                    <h3 class="widget-title">Latest News</h3>
                    <div class="courses">
                        <ul>
                            <li>
                                <a class="thumb" href="#"><img src="~/images/placeholder/news1.jpg" alt="" /></a>
                                <div class="info">
                                    <h4><a href="#">Top 10 universities have the best quality</a></h4>
                                </div>
                            </li>

                            <li>
                                <a class="thumb" href="#"><img src="~/images/placeholder/news2.jpg" alt="" /></a>
                                <div class="info">
                                    <h4><a href="#">Back to school with courses of Universum</a></h4>
                                </div>
                            </li>

                            <li>
                                <a class="thumb" href="#"><img src="~/images/placeholder/news3.jpg" alt="" /></a>
                                <div class="info">
                                    <h4><a href="#">Research works of students about to be start</a></h4>
                                </div>
                            </li>
                        </ul>
                    </div><!-- .widget -->
                </aside><!-- .blog-widget -->
            </div><!-- .sidebar -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .site-content -->

